.table-view {
    -fx-background-color: #f5f5f5;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: #c1c1c1;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.table-view .column-header {
    -fx-background-color: red;
}

.column-header-background .label{
    -fx-text-fill: white;
}

.table-view .column-header, .column-header-background{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 0 1px 0 0;
}

.table-view .column-header-background {
    -fx-border-color: transparent;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1px 0;
    -fx-text-fill: black;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #ffe5e5;
    -fx-text-fill: black;
}

.table-view .table-cell {
    -fx-padding: 10px;
    -fx-border-width: 0;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 10 10 10 30;
    -fx-border-color: grey;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
}

.image-view {
    -fx-opacity: 0.8;
}