.table-view {
    -fx-background-color: #f5f5f5;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: #c1c1c1;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.table-view .column-header {
    -fx-background-color: #3a77ff;
}

.column-header-background .label{
    -fx-text-fill: white;
}

.table-view .column-header, .column-header-background{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #2756b3;
    -fx-border-width: 0 1px 0 0;
}

.table-view .column-header-background {
    -fx-border-color: transparent;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1px 0;
    -fx-text-fill: black;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: black;
}

.table-view .table-cell {
    -fx-padding: 10px;
    -fx-border-width: 0;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

#tableViewSuppliers .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0 0 1px 0;
}

#tableViewSuppliers .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

#tableViewSuppliers .table-row-cell:selected, #tableViewSuppliers .table-cell:selected {
    -fx-background-color: #2756b3;
    -fx-text-fill: white;
}

#tableViewSuppliers .table-cell {
    -fx-padding: 10px;
    -fx-border-width: 0;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

#txtSupplierSearch, #txtPurchaseOrderSearch {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 10 10 10 30;
    -fx-border-color: #3a77ff;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
}

#txtQuantity, #txtUnitPrice, #txtTotalAmount, #comboBoxProductName {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #3a77ff;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button {
    -fx-background-color: #3a77ff;
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-transition: all 0.3s ease;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2756b3;
}

.button:pressed {
    -fx-background-color: #2756b3;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 4, 0.0, 0, 1);
}