.login_container {
    -fx-background-color: white;
}

.login_logo_container {
    -fx-background-color: #3a77ff;
    -fx-padding: 11px;
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 20px;
    -fx-fill: white;
}

.login_logo_container FontAwesomeIconView{
    -fx-fill: #ECF39E;
}

#btnSignUp {
    -fx-background-color: #3a77ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#btnSignUp:pressed {
    -fx-background-color: #2756b3;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 4, 0.0, 0, 1);
}

#btnDBConnection {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: grey;
    -fx-font-size: 12px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

#btnDBConnection:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

#btnDBConnection:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

TextField, PasswordField {
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5px;
}

Label {
    -fx-font-family: "Arial";
    -fx-text-fill: #333;
}

#lblError, #lblEmailError, #lblNameError {
    -fx-text-fill: #e42222;
}

CheckBox {
    -fx-text-fill: #333;
}

Button:hover {
    -fx-background-color: #2756b3;
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #3a77ff;
}

.password-field, #txtEmailPassword, #txtPassword, #txtConfirmPassword {
    -fx-font-size: 13px;
    -fx-font-family: "Monospaced";
}
